/*шрифты*/
@font-face {
  font-family: 'OpenSans_Light';
  src: url('../fonts/open_sans_light.eot');
  src: url('../fonts/open_sans_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/open_sans_light.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open_sans_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../fonts/open_sans_light.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open_sans_light.svg#open_sans_light') format('svg');
  
  /* IE 9 Compatibility Mode */
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/proxima_nova_regular.eot');
  src: url('../fonts/proxima_nova_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/proxima_nova_regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima_nova_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../fonts/proxima_nova_regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima_nova_regular.svg#proxima_nova_regular') format('svg');
  
  /* IE 9 Compatibility Mode */
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'ProximaNova_Semibold';
  src: url('../fonts/proxima_nova_semibold.eot');
  src: url('../fonts/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/proxima_nova_semibold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima_nova_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../fonts/proxima_nova_semibold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima_nova_semibold.svg#proxima_nova_semibold') format('svg');
  
  /* IE 9 Compatibility Mode */
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/proxima_nova_bold.eot');
  src: url('../fonts/proxima_nova_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/proxima_nova_bold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima_nova_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../fonts/proxima_nova_bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima_nova_bold.svg#proxima_nova_bold') format('svg');
  
  /* IE 9 Compatibility Mode */
  /* Chrome < 4, Legacy iOS */
}
/*базовые цвета*/
/*кнопки*/
/*иконки*/
/*текст*/
/*красный крестик*/
/*фон 1*/
/*основной фон*/
/*цвет рамки инпута*/
/*базовые настройки*/
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Reg', sans-serif;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.btn {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 1.3rem;
  background-color: #f9b002;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn:hover {
  cursor: pointer;
  background-color: #d69702;
}
/*шапка*/
.header {
  background: #88f7f0;
  background: radial-gradient(circle, #88f7f0 0%, #2fb2d7 75%);
  width: 100%;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFF;
}
.header-logo {
  padding-left: 10rem;
}
.header-logo_item {
  width: 17rem;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding-right: 10rem;
  font-size: 2rem	;
}
.menu > li {
  margin: 0 2rem;
  overflow: hidden;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#menu-toggle {
  display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: '';
  margin-top: -8px;
}
.menu-button::after {
  content: '';
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}
/* Название*/
.main {
  /*background: url(../img/geo-img.jpg)no-repeat center center;*/
  background-size: cover;
  text-shadow: 1px 0 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 0 -1px 1px #000000;
}
.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5rem;
  font-size: 2.3rem	;
  color: #fff;
}
.main-graphic h3 {
  margin-bottom: 2rem;
  padding-left: 10rem;
  font-size: 2.5rem	;
}
.main-graphic-home {
  background: url(../img/icon/addres.png) no-repeat left center;
  background-size: 3.5rem;
  font-size: 2.5rem;
  padding-left: 4rem;
  padding-top: 1rem;
}
.main-graphic-clock {
  background: url(../img/icon/clock.png) no-repeat left center;
  background-size: 3rem;
  padding-left: 4rem;
}
.main-phone {
  padding-left: 5rem;
}
.main-phone p {
  display: block;
}
.main-phone a {
  background: url(../img/icon/email.png) no-repeat left center;
  background-size: 2.5rem;
  padding-left: 4rem;
}
.main-phone_item {
  background: url(../img/icon/phone.png) no-repeat left center;
  background-size: 2.5rem;
  font-size: 2.5rem	;
  padding-left: 4rem;
  display: inline-block;
}
.main-phone_item span {
  font-size: 1.3rem	;
  font-style: italic;
}
.main-content {
  margin: 15rem 17rem 0rem 17rem;
  padding-bottom: 28rem;
  text-align: center;
  color: #0eb1af;
}
.main-content-title {
  font-size: 6rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.main-content-text {
  font-size: 3rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
/*Виды работ*/
.work {
  padding-bottom: 10rem;
  background: #E6E6FA;
}
.work-header {
  padding-top: 10rem;
  padding-bottom: 5rem;
  font-size: 5rem;
  text-align: center;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.work-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work-list_item {
  background: #ffffff;
  -webkit-box-shadow: 1px 5px 8px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 5px 8px 2px rgba(0, 0, 0, 0.5);
  margin-right: 2rem;
  margin-bottom: 5rem;
}
.work-list_item img {
  padding: 2rem 1rem;
  width: 25rem;
  height: 25rem;
}
.work-list_item h3 {
  height: 3rem;
  margin-bottom: 2rem;
  padding: 0rem 1rem;
  font-size: 2.5rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.work-list_item p {
  overflow: hidden;
  position: relative;
  height: 25rem;
  font-size: 2rem;
  padding: 3rem 2rem;
  margin-bottom: 3rem;
}
.work-list_item p:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 100%);
  pointer-events: none;
}
.work-button {
  text-align: center;
}
.work-btn {
  background: #00BFFF;
  font-size: 2rem;
  text-align: center;
}
/*слайдер*/
.slick-active {
  outline: none;
}
.arrow {
  top: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: -5rem;
  background: url(../img/left.svg) center no-repeat;
  background-size: 100%;
}
.next {
  right: -5rem;
  background: url(../img/right.svg) center no-repeat;
  background-size: 100%;
}
/*о нас*/
.company-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.company-img {
  width: 50%;
}
.company-img img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -o-object-fit: cover;
     object-fit: cover;
}
.company-description {
  padding-top: 10rem;
  padding-left: 10rem;
  background: #00BFFF;
  color: #ffffff;
  text-align: left;
  width: 50%;
}
.company-description h2 {
  font-size: 6rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.company-description p {
  padding-top: 2rem;
  padding-right: 1rem;
  font-size: 2rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
/*Преимущества*/
.advantage {
  margin-bottom: 15rem;
}
.advantage-text h2 {
  margin-top: 7rem;
  font-size: 5rem;
  text-align: center;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.advantage-text:after {
  content: '';
  display: block;
  margin: 4rem auto 0;
  width: 15rem;
  border-top: 2px solid #444;
}
.advantage-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantage-contant_item {
  background: url(../img/advantage.png) no-repeat center center;
  background-size: 12rem;
  padding-right: rem;
  text-align: center;
  width: 30rem;
}
.advantage-contant_item h3 {
  padding-top: 25rem;
  font-size: 2.5rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.advantage-contant_item p {
  font-size: 2rem;
}
.form {
  /*поле для ввода*/
  /*подписи к полям*/
  /*отправить заявку*/
}
.form-input {
  display: block;
  font-size: 2rem;
  width: 100%;
  margin: 2.5rem 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1.2rem;
}
.form label {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.8rem;
  background-color: #ffffff;
}
.form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
/*оформление мод. окна*/
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200rem;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  text-align: center;
  font-size: 2.5rem;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-header {
  font-family: 'ProximaNova_Bold', sans-serif;
}
/*стили модального окна*/
.cd-modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-modal svg {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-modal svg > path {
  fill: #1f4c74;
}
.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  /* Force hardware acceleration*/
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
}
.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cd-modal.modal-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-modal.modal-is-visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: visibility 0s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.cd-modal-content {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  padding: 3em 5% 4em;
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, transform 0.3s 0s;
  transition: opacity 0.3s 0s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-modal-content p {
  color: #f2f2f2;
  line-height: 1.6;
  margin: 2em 0;
}
.modal-is-visible .cd-modal-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-modal-content {
    padding: 3em 10% 4em;
  }
  .cd-modal-content p {
    font-size: 4rem;
  }
}
/* -------------------------------- 

 Cover Layer - hide main content when modal is fired

-------------------------------- */
.cd-cover-layer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
  transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
}
.cd-cover-layer.modal-is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
/*медиа запросы*/
/*992-1200*/
@media (max-width: 1199px) {
  html {
    font-size: 7px;
  }
  .container {
    width: 960px;
  }
  .main-graphic {
    margin-left: 10rem;
  }
  .main-phone {
    margin-right: 10rem;
  }
  .main-content {
    margin-left: 20rem;
    margin-right: 20rem;
  }
}
/*768-991*/
@media (max-width: 991px) {
  html {
    font-size: 6px;
  }
  .container {
    width: 720px;
  }
  .header-logo {
    padding-left: 0;
  }
  .header-logo_item {
    width: 25rem;
  }
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10rem;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 10rem;
    padding: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
.main-graphic {
  margin-left: 0;
}
.main-graphic-clock {
  padding-top: 1rem;
}
.main-phone {
  padding-top: 2rem;
  margin-right: 0;
}
.work-button {
  margin-top: 5rem;
}
.company img {
  -o-object-fit: fill;
     object-fit: fill;
}
.company-description {
  padding-top: 3rem;
  padding-left: 4rem;
  font-size: 1rem;
}
/*576-767*/
@media (max-width: 767px) {
  html {
    font-size: 5px;
  }
  .container {
    width: 540px;
  }
  .main {
    background-size: cover;
  }
  .main-content {
    padding-bottom: 40rem;
  }
  .work-header {
    font-size: 7rem	;
  }
  .work-list_item {
    margin-right: 7rem;
    margin-left: 7rem;
  }
  .work-list_item img {
    padding: 2rem 1rem;
    width: 40rem;
    height: 40rem;
  }
  .work-list_item h3 {
    padding-bottom: 5rem;
    font-size: 4rem;
  }
  .work-list_item p {
    padding: 0 10rem;
    font-size: 3rem;
  }
  .work-list_item a {
    width: 30rem;
    margin-bottom: 5rem;
    font-size: 2rem	;
  }
  .arrow {
    width: 4rem;
    height: 4rem;
  }
  .prev {
    left: 0rem;
    background: url(../img/left.svg) center no-repeat;
    background-size: 100%;
  }
  .next {
    right: 0rem;
    background: url(../img/right.svg) center no-repeat;
    background-size: 100%;
  }
  .company-section {
    display: block;
  }
  .company-img {
    width: 100%;
    height: 60rem;
  }
  .company-description {
    width: 100%;
    padding-bottom: 4rem;
  }
  .company-description p {
    font-size: 3rem;
  }
  .cd-modal-content p {
    font-size: 4rem;
  }
}
/*320-575*/
@media (max-width: 575px) {
  html {
    font-size: 3px;
  }
  .container {
    width: 100%;
  }
  .main {
    background-size: cover;
  }
  .main-content {
    padding-bottom: 40rem;
  }
  .main-content-text {
    padding-top: 5rem;
  }
  .work-list_item {
    margin-left: 15rem;
    margin-right: 15rem;
  }
  .work-list_item a {
    font-size: 3.5rem;
  }
  .work-btn {
    font-size: 3.5rem;
  }
}
