body {
	background-color: blue;
}



.btn {
	margin-left: 50%;
	margin-top: 25%;
	transform: translateX(-50%);
}	


.popup {
display: none;
	 position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  text-align: center;
  font-size: 1.5rem;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%)
          
}
