.header {
text-align: center;
margin-top: 80px;
margin-bottom: 80px;
}

h1 {
 font-size: 36px;
 text-transform: uppercase;
 font-weight: bold;
 color: #0bbaf0;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #0bbaf0;
}

#accordeon {
  width: 860px;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
}

.acc-head {
  padding-top: 21px;
  padding-bottom: 11px;
  margin-bottom: 4px;
  background-color: #0bbaf0;
  cursor: pointer;
}

.acc-body {
  padding: 10px;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 5px;
  display: none;
}